<table id="book_table2" class="table table-hover table-bordered"  style="width: 100%;">
  <thead>
    <tr>
      <th scope="col">Requestor</th>
      <th scope="col">Email</th>
      <th scope="col">Thesis</th>
      <th scope="col">Date Approved</th>
      <th scope="col">Reason for access</th>
    </tr>           
  </thead>

  <tbody>

    {% for detail in approved %}
    <tr>
      <td><a href="{% url 'acc_details' detail.user.id %}" class="text-decoration-none">{{detail.user}}</a></td>
      <td>{{detail.user.email}}</td>
      <td><a href="{% url 'view_thesis' detail.thesis.slug %}" class="text-decoration-none">{{detail.thesis.title}}</a></td>
      <td>{{detail.date_evaluated}}</td>
      <td>{{detail.reason}}</td>
    </tr>
    {% endfor %}        

  </tbody>
</table>