<li class="nav-item dropdown">
  <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Community
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li class="position-relative"><a class="dropdown-item" href="{% url 'manageRequests' %}">PDF Access Requests <span class="position-absolute top-0 start-100 translate-middle badge bg-danger fw-normal">{{request.session.pending_pdfrequest}}</span></a></li>
    <li><a class="dropdown-item" href="{% url 'regAccounts' %}">Registered Accounts</a></li>
  </ul>
</li>