{% load static %}
{% load hitcount_tags %}

{% if thesis %}
<div class="cardsdisplay row">
    {% for post in thesis %}
    <div class="col-lg-6">
        <div class="card cardthesis p-3">
            <div class="card-body">
                <a type="button" class="textmaroon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling{{post.slug}}" aria-controls="offcanvasScrolling{{post.slug}}"><h5>{{post.title | truncatewords:18}}</h5>
                </a>
                <p>                    
                    {% if post.published_status == 'Approved' %}
                    <span class="badge bg-success fw-normal ms-1">{{post.published_status}}</span>
                    {% elif post.published_status == 'Pending' %}
                    <span class="badge bg-primary fw-normal ms-1">{{post.published_status}}</span>
                    {% elif post.published_status == 'Rejected' %}
                    <span class="badge bg-danger fw-normal ms-1">{{post.published_status}}</span>
                    {% endif %}
                </p>
                <p>Submitted on {{post.date_created}}</p> 
            </div>
            <div class="card-footer d-flex">
                {% if post.published_status == 'Approved' %}
                <a href="{% url 'view_studthesis' post.slug %}" class="text-decoration-none btn text-primary"><i class="bi bi-view-list"></i>Access link</a>

                {% elif post.published_status == 'Pending' or post.published_status == 'Rejected' %}
                <a href="{% url 'resubmit' post.slug %}" class="text-decoration-none btn text-success"><i class="bi bi-arrow-clockwise"></i>Resubmit</a>
                <a href="{% url 'delete_thesis' post.slug %}" class="text-decoration-none btn text-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                {% endif %}
            </div>
        </div>
        <div class="offcanvas p-3 offcanvas-end" data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling{{post.slug}}" aria-labelledby="offcanvasScrolling{{post.slug}}Label">
            <div class="offcanvas-header">
                <p>                    
                    {% if post.published_status == 'Approved' %}
                    <span class="badge bg-success fs-5 fw-normal ms-1">{{post.published_status}}</span>
                    {% elif post.published_status == 'Pending' %}
                    <span class="badge bg-primary fs-5 fw-normal ms-1">{{post.published_status}}</span>
                    {% elif post.published_status == 'Rejected' %}
                    <span class="badge bg-danger fs-5 fw-normal ms-1">{{post.published_status}}</span>
                    {% endif %}
                </p>
                <div>
                    {% if post.published_status == 'Approved' %}
                    <a href="{% url 'view_studthesis' post.slug %}" class="text-decoration-none btn text-primary"><i class="bi bi-view-list"></i>Access link</a>
                    
                    {% elif post.published_status == 'Pending' or post.published_status == 'Rejected' %}
                    <a href="{% url 'resubmit' post.slug %}" class="text-decoration-none btn text-success"><i class="bi bi-arrow-clockwise"></i>Resubmit</a>
                    <a href="{% url 'delete_thesis' post.slug %}" class="text-decoration-none btn text-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                    {% endif %}

                    <a class="btn btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></a>
                </div>
            </div>
            <div class="offcanvas-body row">
                {% if post.published_status == 'Rejected' %}
                    <div class="card bg-danger p-3 mb-3">
                        <h5 class="m-0 text-white">Reason for rejection: {{post.reason}} </h5>
                    </div>
                {% endif %}
                <div class="col-md-12 mb-5">
                    <h4 class="textmaroon">{{post.title}}</h4>
                    <p class="m-0"><i class="bi bi-person pe-1"></i>Authored by
                        {% for author in post.thesis.all %}
                        <span class="me-1 text-decoration-underline">{{author.first_name}} {{author.last_name}}</span>
                        {% endfor %}
                    </p>

                    <p class="m-0"><i class="bi bi-person-fill pe-1"></i>Thesis Adviser
                        {{post.adviser}}
                    </p>
                    
                    <p class="m-0"><i class="bi bi-building pe-1"></i>{{post.course}}</p>
                    <p class="m-0"><i class="bi bi-calendar pe-1"></i>Published in {{post.get_published_month_display}} {{post.published_year}}</p>

                    {% if post.published_status == 'Approved' %}
                    <p class="m-0"><i class="bi bi-eye pe-1"></i>{% get_hit_count for post %} views</p>
                    {% endif %}

                    <p class="m-0"><i class="bi bi-archive pe-1"></i>Submitted on {{post.date_created}}</p>
                    <div class="tags m-0">
                        <i class="bi bi-tags pe-1"></i>
                        {% for tag in post.tags.all %}
                            <a class="textmaroon">{{tag}}</a>
                        {% endfor %}
                    </div>

                    <p class="m-0"><i class="bi bi-file-pdf"></i><a href="{% url 'myrepo_pdfviewer' post.slug %}" class="text-decoration-none">View PDF File</a></p>

                    <div class="row mt-3">
                        {% include 'PersonalAcc/accordionabstract.html' %}
                    </div>

                    <div class="row mt-3">
                        <h5 class="textmaroon">Recommended Citations</h5>
                        <p class="text-muted">Generated citation formats for this manuscript. Note that retrieved url is subject to change.</p>
                        <p class="textmaroon mb-0">APA</p>
                        <p id="APA">{{post.apa}} Retrieved from {{request.get_host}}{{request.get_full_path}}.</p>

                        <p class="textmaroon mb-0">MLA</p>
                        <p id="MLA">{{post.mla}}</p>

                        <p class="textmaroon mb-0">Chicago</p>
                        <p id="Chicago">{{post.chicago}} {{request.get_host}}{{request.get_full_path}}.</p>
                    </div>

                </div>
            </div>
        </div> 
    </div>
    {% endfor %}
</div>

{% else %}
    <p>No Papers Found</p>
{% endif %}
