<li class="nav-item dropdown">
  <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    My Account
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="dropdown-item" href="{% url 'profile' %}">
        Edit Profile</a>
    </li>
    <li><a class="dropdown-item" href="{% url 'password_change' %}">
        Change Password</a>
    </li>
    <li><a class="dropdown-item" href="{% url 'submission' %}">
        Submit Project</a>
    </li>
    <li><a class="dropdown-item" href="{% url 'personal_repo' %}">
        My Repository</a>
    </li>
    <li><a class="dropdown-item" href="{% url 'personal_access' %}">
        My Access Requests</a>
    </li>
  </ul>
</li>
<div>
