{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

{% load crispy_forms_tags %}

{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/Admin/Form.css' %}?{% now "U" %}"">

{% include 'Navibar.html' %}

<div class="container-fluid">
    <div class="row subcontainer">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 bodycontent">
            <h4 class="textmaroon">Edit Department</h4>
            <p>Edit department here.</p>
            <hr></hr>
            <form class="form-group post-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-12">
                    {{form | crispy}}
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <button type="submit" class="btn btn-danger mt-3 mb-3 float-end">Update</button>
                    <button type="reset" class="btn btn-secondary mt-3 mb-3 me-2 float-end">Reset</button>
                  </div>
                </div>
             </form>
        </div>
    </div>
</div>


{% endblock %}