<p>Follow the instructions below to submit theses/dissertation.<br>
  Before submitting, please read all relevant policies and/or submission guidelines.
</p>
<p>
  The submission process consists of the following steps:<br>
  1. Read and accept the Consent Agreement below<br>
  2. Provide the right information about thesis<br>
  3. Upload your electronic file, in pdf format<br><br>
 
  Before you begin, please be sure you have the following items:<br>
  1. The description of your research (Title, Author, Adviser, Course Major, Publication Date)<br>
  2. The abstract<br>
  3. A list of keywords of your thesis<br>
  4. The final version of your thesis/dissertation in PDF format that should contain the Approval Sheet<br>
</p>
<h4 class="textmaroon mt-3">Consent Agreement</h4>
<p>I/We hereby grant Technological University of The Philippines Cavite's Library to archive this particular work of ours through the TUPC Digital Archives platform.</p>
<p>I/We also grant the Library to make this submission accessible in electronic format for educational and research purposes only</p>
<p>I/We agree that the Librarymay, may change the information only for correction/s, convert and migrate this submission to any medium or format, and keep more than one copy for purposes of security, back-up, and preservation.</p>
<p>I/We further agree that this consent will remain in place unless I terminate it via signed communication with the Libraries.</p>
<p>I/We confirm that:<br>
1. The version I/we submitted is the final version approved by my thesis committee/panel<br>
2. The submission is my/our original work that properly cites other sources of information and it contains permitted works from original sources (e.g., text excerpts, images, sound or video content, interview transcripts, observational studies).<br>
3. The submission does not contain any confidential, personal and sensitive information belonging to others.<br>
4. The information I/we have provided about the submission is accurate to the best of my knowledge and belief.<br>