{% extends 'main.html' %}
{% load static %}

{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/MainRepository/thesis.css' %}?{% now "U" %}"">

{% include 'Navibar.html' %}

<div class="container-fluid thesiscontainer">

	<div class="mb-3">
	    <h6>
	    	<a href="{% url 'thesis' %}" class="textmaroon text-decoration-none">
	    		Home
	    	</a>
	        {% if course_what %}
	            <span class="filter_key"><i class="bi bi-chevron-right"></i>Collection for {{course_what}}</span>
	        {% endif %}
	    </h6>
	</div>

	<div class="row mb-5">
		<div class="col-lg-12">
		 	<form class="searchbar">
		   		<input type="text" class="form-control" placeholder="Search for in this collection..." name="search_paper">
		   		<button class="btn" type="submit">Search</button>
			</form>
		</div>
	</div>

	<div class="row mb-5">
		<h4 class="textmaroon">Collection for {{course_what}}</h4>
		<p>Collection of thesis papers submitted to {{course_what}}</p>
		<hr></hr>
		{% if search_paper %}
		<h5 class="textmaroon p-3"><i class="bi bi-search pe-1"></i>
			Showing results for '{{search_paper}}'
		</h5>
		{% endif %}
		{% include 'MainRepository/repository_display.html'%}

		{% if thesis_course_details.has_other_pages %}
		<div class="col-lg-12">
		<div class="btn-group float-end paginating" role="group" aria-label="Item pagination">
		    {% if thesis_course_details.has_previous %}
		    	{% if search_paper %}
		        <a href="?search_paper={{search_paper}}page={{ thesis_course_details.previous_page_number }}" class="btn btn-prev btn-outline-danger">
		            Prev
		        </a>
		        {% else %}
		        <a href="?page={{ thesis_course_details.previous_page_number }}" class="btn btn-prev btn-outline-danger">
		            Prev
		        </a>
		        {% endif %}
		    {% endif %}

		    {% for page_number in thesis_course_details.paginator.page_range %}
		        {% if thesis_course_details.number == page_number %}
		            <button class="btn btn-active btn-danger">
		                <span>{{ page_number }} <span class="sr-only"></span></span>
		            </button>
		        {% else %}
		        	{% if search_paper %}
		            <a href="?search_paper={{search_paper}}page={{ page_number }}" class="btn btn-pending btn-outline-danger">
		                {{ page_number }}
		            </a>
		            {% else %}
		            <a href="?page={{ page_number }}" class="btn btn-pending btn-outline-danger">
		                {{ page_number }}
		            </a>
		            {% endif %}
		        {% endif %}
		    {% endfor %}

		    {% if thesis_course_details.has_next %}
		    	{% if search_paper %}
		        <a href="?search_paper={{search_paper}}page={{ thesis_course_details.next_page_number }}" class="btn btn-next btn-outline-danger">
		            Next
		        </a>
		        {% else %}
		        <a href="?page={{ thesis_course_details.next_page_number }}" class="btn btn-next btn-outline-danger">
		            Next
		        </a>
		        {% endif %}
		    {% endif %}
		</div>
		</div>
		{% endif %}
	</div>

</div>

{% include 'Footer.html' %}

{% endblock %}