{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/Admin/Evaluate.css' %}?{% now "U" %}"">

{% include 'Navibar.html' %}

<div class="container-fluid evaluatecontainer">
	<div class="evalbodycontainer">
	    <div class="card cardheader p-3">
	      <div class="row welcomebanner">
	        <div class="col-lg-9 welcometext">
	            <h4>Evaluate Project</h4>
	            <p>Evaluate submitted thesis project in the system here
	            </p>
	        </div>
	        <div class="col-lg-3">
	          <img class="img-fluid" src="{% static 'Images/Dashboard.svg' %}" alt='dashboard'>
	        </div>
	      </div>
	    </div>

	    <div class="mt-5 row">

	    	{% if detail.previous_reason %}
	    	<div class="col-lg-12 mb-5">
	    		<div class="card bg-danger p-3">
	    			<h4 class="text-white">Thesis project has already been rejected!</h4>
	    			<p class="m-0 text-white">Previous Reason for Rejection: {{detail.previous_reason}}</p>
	    		</div>
	    	</div>
	    	{% endif %}

	    	<div class="col-lg-6">
	    		<ul class="list-group list-group-flush card p-3">
	    		    <li class="list-group-item m-0">
	    		        <div>
	    		            <h4><a class="text-decoration-none">{{detail.title}}
	    		            </a></h4>
	    		        </div>
	    		        <div class="content">
	    		            <p class="m-0"><i class="bi bi-person pe-1"></i>Author: 
	    		            	{% for author in detail.thesis.all %}
	    		            	<span class="me-1 text-decoration-underline">{{author.first_name}} {{author.last_name}}</span>
	    		            	{% endfor %}
	    		            </p>
	    		            <p class="m-0"><i class="bi bi-person pe-1"></i>Adviser: 
	    		            	{{detail.adviser}}
	    		            </p>
	    		            <p class="m-0"><i class="bi bi-building pe-1"></i>Course: {{detail.course}}</p>
	    		            <p class="m-0"><i class="bi bi-calendar pe-1"></i>Published Date: {{detail.get_published_month_display}} {{detail.published_year}}</p>
	    		            <p class="m-0"><i class="bi bi-file-pdf pe-1"></i>PDF File: 
	    		                <a href="{{detail.pdf.url}}" class="text-decoration-none" target="_blank">
	    		                View PDF
	    		                </a>
	    		            </p>
	    		            <p class="m-0"><i class="bi bi-calendar pe-1"></i>Submitted Date: {{detail.date_created}}</p>
	    		            <p class="m-0"><i class="bi bi-person pe-1"></i>Submitted by:
	    		            	{{detail.uploaded_by}}
	    		            </p>
	    		            <div class="tags m-0">
	    		                <i class="bi bi-tags pe-1"></i>Keywords:
	    		                {% for tag in detail.tags.all %}
	    		                    <a class="textmaroon">{{tag}}
	    		                    </a>
	    		                {% endfor %}
	    		            </div>
	    		        </div>
	    		    </li>
	    		</ul>
	    		<div class="mt-3">
	    		    {% include 'Admin/accordionabstract.html' %}
	    		</div>
	    	</div>

	    	<div class="col-lg-6">
	    		
	    		<div class="topbar mb-3">
		    		 <button class="btn btn-primary" id="prev">
		    		  	<i class="bi bi-arrow-left-circle"></i>
		    		 </button>
		    		 <p class="textcon pe-3"><i class="bi bi-file-earmark pe-1"></i><span id="page_num"></span> / <span id="page_count"></span> Pages</p>
		    		 <button class="btn btn-primary float-end" id="next">
		    		  	<i class="bi bi-arrow-right-circle"></i>
		    		 </button>
	    		</div>
	    		<canvas class="card container-fluid" id="the-canvas"></canvas>
	    	</div>

	    </div>

	    <div class="mt-5 card p-4">
    		<h4 class="textmaroon">Evaluate</h4>
    		<form method="POST" class="form-group">
    			{% csrf_token %}
    			{{form|crispy}}
    			<button type="submit" class="btn btn-danger mt-3 float-end">Confirm</button>
    			<button type="submit" class="btn btn-secondary me-2 mt-3 float-end">Reset</button>
    		</form>
	    </div>
	</div>
</div>

{% block script%}
	<script type="text/javascript">
		// If absolute URL from the remote server is provided, configure the CORS
		// header on that server.

		var url = '{{detail.pdf.url}}';

		// Loaded via <script> tag, create shortcut to access PDF.js exports.
		var pdfjsLib = window['pdfjs-dist/build/pdf'];

		// The workerSrc property shall be specified.
		pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

		var pdfDoc = null,
		    pageNum = 1,
		    pageRendering = false,
		    pageNumPending = null,
		    scale = 1.2,
		    zoom = 1,
		    canvas = document.getElementById('the-canvas'),

		    ctx = canvas.getContext('2d');

		/**
		 * Get page info from document, resize canvas accordingly, and render page.
		 * @param num Page number.
		 */
		function renderPage(num) {
		  pageRendering = true;
		  // Using promise to fetch the page
		  pdfDoc.getPage(num).then(function(page) {
		    var viewport = page.getViewport({scale: scale});
		    canvas.height = viewport.height;
		    canvas.width = viewport.width;

		    // Render PDF page into canvas context
		    var renderContext = {
		      canvasContext: ctx,
		      viewport: viewport
		    };
		    var renderTask = page.render(renderContext);

		    // Wait for rendering to finish
		    renderTask.promise.then(function() {
		      pageRendering = false;
		      if (pageNumPending !== null) {
		        // New page rendering is pending
		        renderPage(pageNumPending);
		        pageNumPending = null;
		      }
		    });
		  });

		  // Update page counters
		  document.getElementById('page_num').textContent = num;
		}

		/**
		 * If another page rendering in progress, waits until the rendering is
		 * finised. Otherwise, executes rendering immediately.
		 */
		function queueRenderPage(num) {
		  if (pageRendering) {
		    pageNumPending = num;
		  } else {
		    renderPage(num);
		  }
		}

		/**
		 * Displays previous page.
		 */
		function onPrevPage() {
		  if (pageNum <= 1) {
		    return;
		  }

		  pageNum--;
		  queueRenderPage(pageNum);
		}
		document.getElementById('prev').addEventListener('click', onPrevPage);

		/**
		 * Displays next page.
		 */
		function onNextPage() {
		  if (pageNum >= pdfDoc.numPages) {
		    return;
		  }
		  pageNum++;
		  queueRenderPage(pageNum);
		}
		document.getElementById('next').addEventListener('click', onNextPage);

		/**
		 * Asynchronously downloads PDF.
		 */
		pdfjsLib.getDocument(url).promise.then(function(pdfDoc_) {
		  pdfDoc = pdfDoc_;
		  document.getElementById('page_count').textContent = pdfDoc.numPages;
		  // Initial/first page rendering
		  renderPage(pageNum);

		});


	</script>
{% endblock script%}
{% endblock %}
