{% extends 'main.html' %}
{% load static %}

{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/Admin/Manage.css' %}?{% now "U" %}"">

{% include 'Navibar.html' %}

<div class="container-fluid managecontainer">
    <div class="row managecontent">
        <div class="col-lg-12">
            <div class="card cardheader p-3">
              <div class="row welcomebanner">
                <div class="col-lg-9 welcometext">
                    <h4>PDF Access Requests </h4>
                    <p>This is the management page for pdf access requests
                    </p>
                </div>
                <div class="col-lg-3">
                  <img class="img-fluid" src="{% static 'Images/Dashboard.svg' %}" alt='dashboard'>
                </div>
              </div>
            </div>
        </div>
        <div class="col-lg-12 mt-5 ">
            <h4 class="textmaroon">Pending Access Requests</h4>
            <p>Showing results for the pending access requests <br>
                <span class="text-muted">Note: You cannot evaluate pending requests from deactivated accounts</span> 
            </p>
            <hr></hr>
            {% include 'Admin/requeststable.html' %}
        </div>
        <div class="col-lg-12 mt-5 ">
            <h4 class="textmaroon">Approved Access Requests</h4>
            <p>Showing results for the approved access requests</p>
            <hr></hr>
            {% include 'Admin/apprequeststable.html' %}
        </div>
        <div class="col-lg-12 mt-5 ">
            <h4 class="textmaroon">Declined Access Requests</h4>
            <p>Showing results for the declined access requests</p>
            <hr></hr>
            {% include 'Admin/decrequeststable.html' %}
        </div>
    </div>
</div>

{% block scripts %}

<script type="text/javascript">
$(document).ready(function() {
    $('#book_table').dataTable();
    $('#book_table2').dataTable();
    $('#book_table3').dataTable();
} );

</script>


{% endblock scripts %}



{% endblock content %}