{% extends 'main.html' %}
{% load static %}

{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/PersonalAcc/myrepo.css' %}?{% now "U" %}"">

{%include 'Navibar.html' %}

<div class="container-fluid repocontainer">
  <div class="row">
    <div class="col-lg-12 right_section">
      <div class="approvedpdfaccess mb-5">
        <h4 class="textmaroon">Approved PDF Requests</h4>
        <p>Thesis manuscript/s that you have approved request to access with</p>
        <hr></hr>
        <ul class="list-group list-group-flush">
          {% if appdf_access %}
            {% for project in appdf_access %}
            <li class="list-group-item">
              <h5 class="textmaroon">
                {{project.thesis.title}}
              </h5>
              <p class="m-0">By
                {% for author in project.thesis.thesis.all %}
                <span class="me-1">{{author.first_name}} {{author.last_name}}</span>
                {% endfor %}
              </p>
              <a href="{% url 'view_studthesis' project.thesis.slug %}" class="text-decoration-none">
                View thesis &raquo;
              </a> 
            </li>
            {% endfor %}
          {% else %}
            <p>No approved requests yet</p>
          {% endif %}
        </ul>  
      </div>

      <div class="approvedpdfaccess mb-5">
        <h4 class="textmaroon">Pending PDF Requests</h4>
        <p>Thesis manuscript/s that you have pending request to access with</p>
        <hr></hr>
        <ul class="list-group list-group-flush">
          {% if pendpdf_access %}
            {% for project in pendpdf_access %}
            <li class="list-group-item">
              <h5 class="textmaroon">
                {{project.thesis.title}}
              </h5>
              <p class="m-0">By
                {% for author in project.thesis.thesis.all %}
                <span class="me-1">{{author.first_name}} {{author.last_name}}</span>
                {% endfor %}
              </p>
              <a href="{% url 'view_studthesis' project.thesis.slug %}" class="text-decoration-none">
                View thesis &raquo;
              </a> 
            </li>
            {% endfor %}
          {% else %}
            <p>No pending requests yet</p>
          {% endif %}
        </ul>  
      </div>

    </div>
  </div>
</div>

{% include 'Footer.html' %}

{% endblock %}
