{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/PersonalAcc/profile.css' %}?{% now "U" %}"">

{%include 'Navibar.html' %}

<div class="container-fluid profilecontainer">
  <div class="row profilerow">
    <div class="col-lg-6">
      <h4 class="textmaroon">Edit Profile</h4>
      <p>Edit your profile account details</p>
      <hr></hr>
      <form method="POST" class="form-group profile_form">
        {% csrf_token %}
        {{user_form.username| as_crispy_field}}
        <div class='row'>
          <div class="col-md-6 col-sm-12 textcon">{{user_form.first_name| as_crispy_field}}</div>
          <div class="col-md-6 col-sm-12 textcon">{{user_form.last_name| as_crispy_field}}</div>
        </div>
        {{user_form.email| as_crispy_field}}
        {{user_form.date_joined| as_crispy_field}}

        <button type="submit" class="btn btn-danger mt-3 float-end">Update</button>
        <button type="reset" class="btn btn-secondary mt-3 me-2 float-end">Reset</button>
      </form>
    </div>
  </div>
</div>

{% include 'Footer.html' %}

{% endblock %}
