{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/PDFRequest/requestpdf.css' %}?{% now "U" %}"">

{% include 'Navibar.html' %}

<div class="container-fluid requestcontainer">
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8 requestcontent">
			<h2>Hello, {{user.first_name}}!</h2>
			<p>It seems like you are trying to access the document file of the thesis entitled
				<span class="thesistitle">"{{detail.title}}"</span>,
			which unfortunately you are not yet authorized to access with.</p>
			<p>To be able to access this file, you should submit a request first and wait for the confirmation. Below is the request form for accessing the document file.</p>
			<hr class="mt-5 mb-5">
			<h4>File Access Request Form</h4>
			<p>I am {{user.first_name}} {{user.last_name}} would like to request an access to the document file of the thesis entitled "{{detail.title}}". Below is my indicated reason for accessing this file.</p>
			<form method="POST" class="form-group requestform">
			  {% csrf_token %}
			  {{form|crispy}}
			  <button type="submit" class="btn btn-danger float-end mt-3">Submit &raquo;</button>
			</form>  
		</div>
		<div class="col-lg-2"></div>
	</div>
</div>

{% include 'Footer.html' %}

{% endblock %}