.coursecontainer {
	padding: 5rem 5rem 5rem 5rem;
}

.coursecontent {
	margin-top: -10rem;
}

.coursecontent > h2, .formcontent > h4, .coursetable > h4 {
	font-family: Inter;
}

.formcontent > p, .courseform, .coursetable > p, .table {
	font-family: Inter;
	font-size: 16px;
}