{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/PersonalAcc/profile.css' %}?{% now "U" %}"">


{% include 'Navibar.html' %}
<div class="container-fluid profilecontainer">
  {% if user.is_student %}
  <div class="row profilerow">
  {% else %}
  <div class="row profilerow mt-5">
  {% endif %}
    <div class="col-lg-6 right_section">
      <h4 class="textmaroon">Change Password</h4>
      <p>You can change your password here</p>
      <hr></hr>
      <form method="POST" class="form-group profile_form">
        {% csrf_token %}
        {{form | crispy}}
        <button type="submit" class="btn btn-danger mt-3 mb-3 float-end">Update</button>
        <button type="reset" class="btn btn-secondary mt-3 mb-3 me-2 float-end">Reset</button>
      </form>
    </div>

  </div>
</div>

{% if user.is_student %}
  {% include 'Footer.html' %}
{% endif %}

{% endblock %}